@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000000;
  --background-color: #ffffff;
  --primary-color: #a91b3a;
  --secondary-color: #ddca1c;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

.card {
  position: relative;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.67) 0%, #181818 100%);
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.card > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  border-radius: 25px;
}

.card > p {
  position: absolute;
  bottom: 18px;
  right: 32px;
  font-size: 2rem;
  text-align: right;
  z-index: 2;
}

.card-lydia {
  position: relative;
  background: linear-gradient(180deg, rgba(1, 118, 240, 0.6) 0%, #0176f0 100%);

  height: 100%;
  width: 100%;
}

.card-lydia > img {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.home-image {
  background-image: url("/enssat_model.png");
  height: 500px;
  width: 120px;
}

/*
  EVENT
*/
/* I don't really like to do like that but nevermind... */
.event-custom-header {
  position: fixed;
  z-index: 1;
}
/*
  EVENT SLIDESHOW
*/
img.background {
  width: 100%;
  height: 100%;
  filter: opacity(0.4);
  object-fit: cover;
  object-position: 0 0;
}
.event-info.active {
  display: block;
}
ul {
  position: relative;
}
li.active {
  position: relative;
}
/* li.active::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: rgb(169 27 58);
} */
li:not(.selector) {
  position: relative;
  z-index: 2;
}
li.selector {
  background-color: rgb(169 27 58);
  width: 100%;
  height: 75px;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  top: 0;
  left: 0;

  position: absolute;

  transition: top .7s ease;
}
.event-info {
  display: none;
  z-index: 999;
  position: absolute;
  bottom: 128px;
  left: 24px;
  max-width: 50%;
}

.big-underline {
  position: relative;
  height: fit-content;
  width: fit-content;
}
.big-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: rgb(169 27 58);
}

/* Club Colors Button */
.bg-discord {
  background-color: #7289da;
}

.bg-website {
  background-color: #822434;
}

.bg-messenger {
  background-color: #0084ff;
}

.bg-whatsapp {
  background-color: #25d366;
}

.bg-instagram {
  background-color: #c13584;
}

.bg-x {
  background-color: #000000;
}

.bg-facebook {
  background-color: #1877f2;
}

.bg-linkedin {
  background-color: #0a66c2;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
